body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.page-title {
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 2px solid #e8e8e8;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 50% 0 0;
    text-shadow: 1px 1px #000000;
}

.category-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.4rem;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-left: 20px;
    background-color: rgba(0, 123, 255, 0.5);
    text-shadow: 1px 1px #000000;
}

.page-title-adm {
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 2px solid #e8e8e8;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 50% 0 0;
    text-shadow: 1px 1px #000000;
}

a {
    color: black;
}

.stitle-redirection {
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 2px solid #e8e8e8;
    background-color: rgba(255, 255, 255, 0.5);
    color: #dc3545;
    text-shadow: 2px 2px #000000;
}

.fixed-menu {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    z-index: 0;
}

.camera {
    position: absolute;
    bottom: 3px;
    right: 3px;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 35% 35% 35% 35%;
    
    background-color: rgba(0, 123, 255, 0.5);
    color: #FFFFFF;
    
    font-size: 1.3rem;
    text-align: center;

    z-index: 2050;
}

.movie-name {
    font-family: 'Abril Fatface', cursive;
    font-size: 1rem;
}

.min-size {
    min-height: 2.5rem;
}

.img-size {
    width: 75%;
    height: 91%;
}

.min-video-size {
    min-height: 100px;
}

img {
    z-index: 2015;
}

.card-transparance {
    background-color: rgba(255, 255, 255, 0.4);
}

.card-img-top-container {
    overflow: hidden;
    position: relative;
}

textarea[name=description] {
   resize: none;
}


/* Glyphicons */
/* .mi-md-color {
    color: #dc3545;
}

.mi-md-font-title {
    font-size: 1.3rem;
}

.mi-md-font-contact {
    font-size: 1rem;
}

.mi-md-font-color {
    color: #dc3545;
} */
